In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('rules.csv', header=None)

In [7]:
# Rule 4

In [8]:
rules = data.apply(lambda x : (x[2]> 0.01 and  x[3] > 0.75), axis=1)

In [9]:
data[rules]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [10]:
# Rule 5

In [11]:
rules = data.apply(lambda x : (x[2]> 0.05 and  x[3] > 0.25), axis=1)

In [12]:
data[rules]

                      0                 1         2         3
11935  other vegetables        whole milk  0.074835  0.386758
14247        rolls/buns        whole milk  0.056634  0.307905
19022        whole milk  other vegetables  0.074835  0.292877
19251            yogurt        whole milk  0.056024  0.401603

In [ ]:
# Rule 6

In [5]:
rules = data.apply(lambda x : (x[2]> 0.07 and  x[3] > 0.25), axis=1)

In [6]:
data[rules]

                      0                 1         2         3
11935  other vegetables        whole milk  0.074835  0.386758
19022        whole milk  other vegetables  0.074835  0.292877